.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-col {
  display: flex;
}

.inline {
  display: inline;
}

.pos-rel {
  position: relative;
}

.flex-abs-center {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

label,
button,
img {
  margin: 1.5rem 0 0.5rem;
}

div[data-view="entry-form"] label,
div[data-view="entry-form"] input,
div[data-view="entry-form"] textarea {
  display: block;
  width: 100%;
}

div[data-view="entry-form"] input,
div[data-view="entry-form"] textarea {
  padding: 0.5rem;
}

img {
  max-width: 100%;
  min-height: 400px;
  object-fit: cover;
}

div.button-to-right {
  display: flex;
  justify-content: flex-end;
}

ul > li {
  margin: 1rem 0;
}

.horiz-nav > li {
  display: inline;
  margin-left: 20px;
}

.horiz-nav a {
  text-decoration: none;
}

.edit-icon-pos {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 1.5rem;
}

.modal-screen {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-box {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
