/*
purple: #562b81
light-grey background: #f0f0f0
red: #DC2626
grey: #b6b6b6
very dark grey: #292929
*/

.light {
  --main-accent-color: #562b81;
  --contrast-accent-color: #562b81;
  --main-bg-color: #f0f0f0;
  --warning-color: #dc2626;
  --passive-color: #b6b6b6;
  --contrast-text-color: #fff;
  --passive-contrast-text-color: #292929;
}

.dark {
  --main-accent-color: #432b5c;
  --contrast-accent-color: #854ac0;
  --main-bg-color: rgb(27, 27, 27);
  --warning-color: #dc2626;
  --passive-color: #b6b6b6;
  --contrast-text-color: rgb(255, 250, 208);
  --passive-contrast-text-color: #292929;
}

html.dark img {
  filter: brightness(0.8);
}

html.dark h1,
html.dark h2,
html.dark p {
  color: var(--contrast-text-color);
}

#dark-mode-toggle {
  transition: text-shadow 250ms 200ms ease-in;
}

button:hover,
#logo-nav:hover,
#dark-mode-toggle:hover {
  cursor: pointer;
}

#dark-mode-toggle.dark-mode-on-light {
  text-shadow:
    rgb(255, 237, 89) 0 0 12px,
    rgb(255, 237, 89) 0 0 18px,
    rgb(255, 237, 89) 0 0 25px;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}

.bg-accent {
  background-color: var(--main-accent-color);
}

.color-accent {
  color: var(--contrast-accent-color);
}

.bg-light {
  background-color: var(--main-bg-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-passive {
  background-color: var(--passive-color);
}

.text-white {
  color: var(--contrast-text-color);
}

.text-dark-grey {
  color: var(--passive-contrast-text-color);
}

.rounded-corners {
  border-radius: 0.2rem;
}

.no-border {
  border-style: none;
}

.heading-font {
  font-family: "Proza Libre", sans-serif;
}

.body-font {
  font-family: "Open Sans", sans-serif;
}

.font-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

.font-16 {
  font-size: 16px;
}

.padding-tb-01 {
  padding: 0.1rem 0;
}

.padding-tb-1 {
  padding: 1rem 0;
}

.no-text-deco {
  text-decoration: none;
}

.button-padding {
  padding: 0.5rem 1.2rem;
}

.list-no-bullets {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

input,
textarea {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

input:focus,
textarea:focus {
  border: var(--main-accent-color) solid;
  outline: none;
}

.link-style-button {
  color: var(--warning-color);
  text-decoration: underline;
  border: none;
}

.modal-screen {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0);
  transition: transform ease-in 0.1s;
}

.modal-screen-transition {
  transform: scale(1);
}

.modal-box button {
  padding: 0.5rem 0.6rem;
  margin-top: 0;
}
